body{
    margin: 0;
}

*{
    box-sizing: border-box;
}


.bg-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: aqua;
    padding: 20px;
    max-width: 767px;

}
.card{
    width:220px;
    height: 330px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-around;
    padding: 15px;

    
    
}

.card1{
    width:220px;
    height: 330px;
    background-color:orange;
    margin-right: 15px;
    margin-bottom: 15px;
    
   display: flex;
   flex-direction: column;
   justify-content: center;

    

    font-family: sans-serif;
    padding-left: 25px;

    
    
}
.image{
    height: 100px;
    width:150px;
    align-self: center;
}
.heading{
    color:blue;
    
}

@media screen and (min-width: 768px) {
    .bg-container{
        
        max-width: 1200px;
    
    }
    
}

.label-El{
    background-color: orange;
    padding: 10px 20px 10px 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.para{
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 0;
    color:brown
    
}

.span-el{
    font-family: sans-serif;
    color: black;
    margin-left: 12px;
    text-decoration: line-through;
}
.label-El1{
    background-color: brown;
    padding: 10px 20px 10px 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;

}